*, ::after, ::before{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fac3f2;
}

/*navbar*/
.navbar{
    background-color: #fac3f2;
    padding-right: 10px;
}
h1{
    font-size: 2em;
    color: #FA09D3;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container a{
    text-decoration: none;
    color: #FA09D3;
    font-size: 1.5em;
}
.container a :hover{
    background-color: #d82dbfb1;
}

/*accueil*/
.title{
    display: flex;
    justify-content: center;
}
h2{
    background-color: #d82dbfb1;
    border-radius: 50px;
}
.gallerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin-top: 5%;
}
.gallerie-card {
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 8px 2px;
    background-color: white;
    overflow: hidden;
    margin: 10px;
}
.card_img {
    height: 100%;
    width: 100%;
    background-image: url(./img/img1.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
/*footer*/
.container-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
li a{
    text-decoration: none;
    font-size: 1.5em;
}
.contact{
    margin-right: 10px;
}
